
<!--
File name: index.ejs
Author's name: Nabil Malik
Student Id: 301108920
Web App name: COMP229-W2020-MidTerm-301108920
-->
<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <h2>Welcome to <%= title %></h2>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


